<div class="background">
  <div class="flex-logo">
    <%= image_tag("logo.png") %>
  </div>

    <div class="container">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                  <div class="card-description">
                    <i class="fas fa-glass-martini"></i>
                    <%= link_to cocktail.name, cocktail_path(cocktail.id), class: "card-button" %>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>

  <!-- <div class="btn btn-primary"> -->
    <div class="flex-creat">
      <%= link_to "Créer un cocktail", new_cocktail_path, class: "btn btn-danger btn-lg active" %>

    </div>
</div>
<!-- </div> -->

<!-- con('far', 'address-book', class: 'strong')
# => <i class="far fa-address-book strong"></i> -->

<!-- image_tag("/icons/icon.gif", class: "menu_icon")
image_tag("/icons/icon.gif", class: "menu_icon")
# => <img alt="Icon" class="menu_icon" src="/icons/icon.gif" /> -->
<!-- <h2>Card design</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <img src="http://placehold.it/50x50" alt="" class="avatar card-user">
            <span class="card-category">POPULAR</span>
            <div class="card-description">
              <h3>Stripe</h3>
              <p>A cool payment API</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <img src="http://placehold.it/50x50" alt="" class="avatar card-user">
            <span class="card-category">POPULAR</span>
            <div class="card-description">
              <h3>Stripe</h3>
              <p>A cool payment API</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <img src="http://placehold.it/50x50" alt="" class="avatar card-user">
            <span class="card-category">POPULAR</span>
            <div class="card-description">
              <h3>Stripe</h3>
              <p>A cool payment API</p>
            </div>
          </div>
        </div>
      </div> -->



<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
